@import '../../../../globalCSS/globalCSS';

.analytics {
    margin: $margin;

    .analytics-select {
        min-width: 300px;
        display: flex;
        margin: auto;
        margin-bottom: $margin;
        text-align: center;
    }

    .datepicker {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        top: 50px;
        right: 20px;
        max-width: 800px;
        z-index: 99;

        @media (max-width: $phoneMaxWidth) {
            position: relative;
            top: auto;
            right: auto;
        }

        .datepicker-button {
            min-width: 300px;
            visibility: visible;
            margin-right: 0;

            @media (max-width: $phoneMaxWidth) {
                display: none;
                visibility: hidden;
            }
        }

        .datepicker-datepicker {
            visibility: visible;
            max-width: 600px;

            @media (max-width: $phoneMaxWidth) {
                display: none;
                visibility: hidden;
            }
        }

        .datepicker-select {
            min-width: 300px;
            display: none;
            visibility: hidden;
            display: flex;
            margin: auto;
            margin-bottom: $margin;
            text-align: center;

            @media (max-width: $phoneMaxWidth) {
                visibility: visible;
            }
        }
    }

    .analytics-content {
        position: relative;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
        padding: $padding;
        background-color: white;
        border: $border;
        border-radius: $borderRadius;

        .horizontal-line {
            border-top-style: solid;
            border-top-color: gray;
            border-top-width: 1px;
            width: 100%;
            margin: 0;
            margin-top: 70px;
            margin-bottom: 70px;
            padding: 0;
        }

        h2 {
            color: $primaryColor;
            font-size: 24px;
            font-weight: 100;
            margin-top: 0px;
            margin-bottom: 5px;
        }

        p {
            color: #555555;
            padding: 0;
            margin: 5px 0 5px 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            letter-spacing: 0.15px;

            @media (max-width: $phoneMaxWidth) {
                font-size: 12px;
            }
        }

        

        .dishes-analytics-heading {
            font-size: 20px;
            font-weight: 500;
        }

        .dishes-analytics-row {
            :hover {
                cursor: pointer;
            }

            .dishes-analytics-text {
                font-size: 17px;
                font-weight: 200;
            }
        }

        .dishes-analytics-thumbs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .dishes-analytics-thumb {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: silver;
                font-size: 15px;
                font-weight: 300;
            }
        }

        .dishes-analytics-linear-progress {
            height: 10px;
            color: $primaryColor;
            border-radius: 5px;
        }
    }
}