@import '../../../../../globalCSS/globalCSS';

$screenMargin: 2*($margin + 20);
$cardFullWidth: ($cardWidth + $cardMargin);

.category-details {
    margin: $margin;
    
    form {
        .days {
            display: flex;
            flex-flow: column;
            .day {
                display: flex;
                flex-flow: row;
                align-items: center;

                @media (max-width: $phoneMaxWidth) {
                    flex-flow: column;
                }
            }

            .check-box {
                color: $primaryColor;
            }
        }

        .category-dishes {

            p {
                margin-bottom: $margin;
            }

            .search-bar {
                margin-bottom: $margin;
            }

            .dishes {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin: 0 auto;

                @for $i from 1 through 50 {
                    @media (min-width: $screenMargin + $i*$cardFullWidth) and (max-width: $screenMargin + ($i+1)*$cardFullWidth) {
                        width: $i*$cardFullWidth;
                    }
                }
            }

            .dishes-list-view {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                overflow-x: scroll;
                
                .dish-item-list-view-row {
                    :hover {
                        cursor: pointer;
                    }
                }
        
                .dish-item-list-view-row-image {
                    width: 108px;
                    background-color: $secondaryColor;
                    height: 72px;
                    border-radius: 20px;
                }
        
                .dish-items-list-view-heading {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .category-details-main-buttons {
            margin-top: 50px;
            display: flex;
            flex-flow: column;
            align-items: center;

            .category-details-cancel-submit-buttons {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
                justify-content: center;

                .success-buttons {
                    margin: $margin;
                }

                .cancel-buttons {
                    margin: $margin;  
                }
            }
        }
    }
}