<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.groak.groak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.tabbar.TabbarActivity"
            android:clickable="true"
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.dish.DishActivity" />
        <activity
            android:name=".activity.addtocart.AddToCartActivity"
            android:clickable="true"
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.cart.cartdetails.CartDetailsActivity"
            android:clickable="true"
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:windowSoftInputMode="adjustPan" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

</manifest>