@import '../../../../../globalCSS/globalCSS';

.topic {
    margin-top: $margin;
    padding-left: $margin;
    padding-right: $margin;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 90%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: silver;

    .topic-header {
        margin: 0 auto;
        font-size: 30px;
        font-weight: 700;

        mark {
            background-color: $primaryColor;
            color: white;
        }
    }

    .topic-subheader {
        margin: 0 auto;        
        font-size: 18px;
        font-weight: 300;
        color: gray;
    }
}