:export {
  primaryColor: #D94859;
  secondaryColor: #F0F0F0;
  margin: 20px;
  padding: 20px;
  tableWhiteColor: white;
  tableGreenColor: rgba(0, 255, 0, 0.5);
  tableOrangeColor: rgba(255, 255, 0, 0.5);
  tableRedColor: rgba(255, 0, 0, 0.5);
}

.tables {
  margin: 20px;
}

.tables .tables-canvas {
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0 auto;
  height: 800px;
  width: 1200px;
}

.tables .tables-canvas .table {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
}

.tables .tables-canvas .table .table-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
}

.tables .tables-canvas .table .table-badge .table-badge-image {
  margin: auto;
  height: 90%;
}

.tables .tables-canvas .table .table-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 90px;
}

.tables .tables-canvas .table .table-inside .table-name {
  display: block;
  font-weight: 100;
  font-size: 15px;
  height: 40px;
  margin: 10px 10px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.tables .tables-canvas .table .table-inside .table-desc {
  display: none;
  font-weight: 100;
  font-size: 15px;
  margin: 10px;
  text-align: center;
}

.tables .tables-canvas .table .table-inside .table-time {
  display: none;
  font-weight: 100;
  font-size: 15px;
  margin: 0;
}

.tables .tables-canvas .table .table-inside .table-image {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 45px;
  width: 40px;
  margin: 0;
}

.tables .tables-canvas .table .table-inside:hover .table-name {
  display: none;
}

.tables .tables-canvas .table .table-inside:hover .table-desc {
  display: inline;
}

.tables .tables-canvas .table .table-inside:hover .table-time {
  display: inline;
}

.tables .tables-canvas .table .table-inside:hover .table-image {
  display: none;
}

.table-alert-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

@media (max-width: 700px) {
  .table-alert-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.table-alert-buttons .table-alert-button {
  margin: 5px;
  width: 120px;
}
/*# sourceMappingURL=Tables.css.map */