@import '../../../../globalCSS/globalCSS';

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .popup-title {
        margin: 5px $margin;
        font-size: 30px;
        font-weight: 300;
        min-width: 300px;
    }

    .popup-content {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 300;

        .popup-tip {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-weight: 300;
            color: black;
    
            .popup-tip-content {
                margin: 0;
            }
        }

        .popup-other-tips {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            .popup-other-tip {
                width: 40%;
                margin: 0 10px;
            }
        }

        .receipt-price-cell {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: silver;
    
            .receipt-price-cell-content {
                margin: 0 $margin;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 25px;
            }
    
            .receipt-price-cell-content-1 {
                margin: 0 $margin;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 15px;
            }
    
            .receipt-price-cell-title {
                font-weight: 500;
                margin: 10px;
            }
    
            .receipt-price-cell-price {
                font-weight: 300;
                margin: 0;
            }
        }
    }

    .popup-actions {
        display: flex;
        flex-direction: column;

        .popup-button {
            width: 80%;
            height: 50px;
            margin: 5px $margin;
            background-color: $primaryColor;
            color: white;
            font-weight: 500;
            font-size: $buttonFontSize;
            border-radius: 5px;

            :hover {
                cursor: pointer;
            }
        }

        .popup-button-cancel {
            background-color: $redButtonColor;
        }

        .popup-button-disabled {
            background-color: silver;
            color: gray;
        }

        .popup-venmo-button {
            width: 80%;
            height: 50px;
            margin: 05px $margin;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #3d95ce;
            color: white;
            font-weight: $buttonFontWeight;
            font-size: $buttonFontSize;
            border-radius: 5px;

            :hover {
                cursor: pointer;
            }

            .popup-venmo-image {
                height: 40%;
                margin: auto;
            }
        }
    }
}

.receipt {
    .content {
        padding-top: 95px;

        .receipt-restaurant-cell {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: silver;

            .receipt-restaurant-cell-image {
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 500px;
            }
            .receipt-restaurant-cell-address {
                margin-left: $margin;
                margin-right: $margin;
                margin-top: $margin;
                margin-bottom: 0;
                text-align: center;
                font-size: 15px;
                font-weight: 400;
            }

            .receipt-restaurant-cell-time {
                margin: $margin;
                text-align: center;
                font-size: 15px;
                font-weight: 400;
            }
        }

        .receipt-price-cell {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: silver;

            .receipt-price-cell-content {
                margin: 0 $margin;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 30px;
            }

            .receipt-price-cell-content-1 {
                margin: 0 $margin;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 15px;
            }

            .receipt-price-cell-title {
                font-weight: 500;
                margin: 10px;
            }

            .receipt-price-cell-price {
                font-weight: 300;
                margin: 0;
            }
        }

        .order-dish-cell {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: silver;
        
            .order-dish-cell-content {
                display: flex;
                flex-direction: row;
                align-items: center;
        
                .order-dish-cell-quantity {
                    font-size: 20px;
                    font-weight: 500;
                    margin-left: $margin;
                }
        
                .order-dish-cell-name {
                    font-size: 20px;
                    font-weight: 300;
                    margin-left: $margin;
                    margin-right: $margin;
                }
        
                .order-dish-cell-price {
                    font-size: 20px;
                    font-weight: 300;
                    margin-right: $margin;
                    margin-left: auto;
                }
            }
        
            .order-dish-cell-extras {
                font-size: 15px;
                font-weight: 300;
                margin: 0 $margin;
                color: gray;
                white-space: pre-wrap;
            }

            .order-dish-cell-content-1 {
                display: flex;
                flex-direction: row;
                align-items: center;

                .order-dish-cell-local-badge {
                    border-style: solid;
                    border-width: 3px;
                    border-radius: 5px;
                    padding: 5px;
                    color: green;
                    margin-left: $margin;
                    margin-right: auto;
                    width: auto;
                }

                .order-dish-cell-created {
                    font-size: 12px;
                    font-weight: 300;
                    text-align: right;
                    margin-left: auto;
                    margin-right: $margin;
                }
            }

            .order-dish-cell-content-2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 0 $margin;
                margin-top: 5px;
                font-size: 15px;
                font-weight: 300;
                color: gray;

                .order-dish-cell-like-symbols {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .order-dish-cell-like-symbol-clicked {
                        margin: 0 $margin;
                        color: $primaryColor;
                    }

                    .order-dish-cell-like-symbol {
                        margin: 0 $margin;
                    }
                }

                .order-dish-cell-like-symbol-clicked-done {
                    margin: 0 $margin;
                    color: $primaryColor;
                    animation: bounce 1s;
                    
                    @keyframes bounce {
                        0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
                        40% {transform: translateY(-30px);} 
                        60% {transform: translateY(-15px);} 
                    } 
                }
            }
        }

        .powered-by-groak-wrapper {
            width: 100%;
            background-color: white;
            display: flex;

            .powered-by-groak {
                width: 50%;
                margin: 10px auto;
                max-width: 200px;
                height: 50%;
            }
        }
    }

    .footer {
        .footer-custom-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }

        .footer-button-custom {
            min-width: 45%;
            height: 50px;
            margin-top: $margin;
            background-color: $primaryColor;
            color: white;
            font-weight: $buttonFontWeight;
            font-size: $buttonFontSize - 5;

            :hover {
                cursor: pointer;
            }
        }

        .footer-button-custom2 {
            min-width: 80%;
            height: 50px;
            margin-top: $margin;
            margin-bottom: $margin;
            background-color: $primaryColor;
            color: white;
            font-weight: $buttonFontWeight;
            font-size: $buttonFontSize;

            :hover {
                cursor: pointer;
            }
        }

        .footer-button-disabled {
            background-color: silver;
            color: gray;
        }
    }

    .receipt-final-message-top {
        margin-top: 100px;
        display: flex;
        padding: $margin;
        padding-bottom: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: gray;
        text-justify: auto;
        text-align: left;
    }

    .receipt-final-message-bottom {
        margin-bottom: 150px;
        display: flex;
        padding: $margin;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: gray;
        text-justify: auto;
        text-align: left;
    }
}