@import '../../../../globalCSS/globalCSS';

$canvasWidth: 1200px;
$tableImageDimensions: 50px;
$tableHeight: 90px;
$tableWidth: 90px;
$imageHeight: 45px;
$imageWidth: 40px;

.tables {
    margin: $margin;
    
    .tables-canvas {
        background-color: white;
        border: $border;
        border-radius: $borderRadius;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        height: 800px;
        width: $canvasWidth;
        
        .table {
            position: absolute;
            height: $tableHeight;
            width: $tableWidth;
            border-radius: $borderRadius;
            border: $border;
            cursor: pointer;

            .table-badge {
                display: flex;
                user-select: none;
                height: 100%;

                .table-badge-image {
                    margin: auto;
                    height: 90%;
                }
            }

            .table-inside {
                display: flex;
                flex-flow: column;
                align-items: center;
                height: $tableHeight;
                width: $tableWidth;

                .table-name {
                    display: block;
                    font-weight: 100;
                    font-size: 15px;
                    height: 40px;
                    margin: 10px 10px 0 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                .table-desc {
                    display: none;
                    font-weight: 100;
                    font-size: 15px;
                    margin: 10px;
                    text-align: center;
                }
                .table-time {
                    display: none;
                    font-weight: 100;
                    font-size: 15px;
                    margin: 0;
                }

                .table-image {
                    user-select: none;
                    height: $imageHeight;
                    width: $imageWidth;
                    margin: 0;
                }

                &:hover {
                    .table-name {
                        display: none;
                    }
                    .table-desc {
                        display: inline;
                    }
                    .table-time {
                        display: inline;
                    }
                    .table-image {
                        display: none;
                    }
                }
            }
        }
    }
}

.table-alert-buttons {
    display: flex;
    flex-flow: row;

    @media (max-width: $phoneMaxWidth) {
        flex-flow: column;
    }

    .table-alert-button {
        margin: 5px;
        width: 100px;
    }
}