@import '../../../../../globalCSS/globalCSS';

.tabbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    flex-grow: 1;
    height: $bottomTabBarHeight;
    box-shadow: $bottomTabBarShadow;
    background-color: $secondaryColor;
    z-index: 25;

    .icons {
        width: 25px;
        height: 23px;
        color: gray;
    }
}