@import '../../../../../globalCSS/globalCSS';

.top-navigation-items-desktop {
    display: flex;
    flex-flow: row;
    align-items: stretch;

    @media (max-width: $phoneMaxWidth) {
        display: none;
    }

    .top-navigation-item {
        display: flex;
        flex-direction: column;

        .navigation-item {
            text-decoration: none;
            box-sizing: border-box;
            border-bottom: 1px solid transparent;
            width: $topNavigationItemWidth;

            .navigation-button {
                color: white;
                font-weight: 100;
                font-size: $optionFontSize;
                text-transform: capitalize;
                padding: $topBarHeight/2-$optionFontSize/2 - 2px;
                width: $topNavigationItemWidth;
            }

            &:hover {
                background-color: $primarySelectedColor;
                border-bottom: 1px solid $blueLineColor;
            }
        }
    }
}

.top-navigation-items-mobile {
    display: none;

    @media (max-width: $phoneMaxWidth) {
        display: block;
    }

    .navigation-item {
        .navigation-button {
            color: white;
        }
    }
}