@import '../../../../globalCSS/globalCSS';

$screenMargin: 2*($margin + 20);
$cardFullWidth: ($cardWidth + $cardMargin);

.qrcodes {
    margin: $margin;

    .normal-buttons {
        display: flex;
    }

    .qrcode-items {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: left;
        margin: 0 auto;

        @for $i from 1 through 50 {
            @media (min-width: $screenMargin + $i*$cardFullWidth) and (max-width: $screenMargin + ($i+1)*$cardFullWidth) {
                width: $i*$cardFullWidth;
            }
        }
    }
}