@import '../../globalCSS/globalCSS';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

html {
    // min-height: 100%;
    // height: 100%;

    body {
        font-family: 'Nunito', sans-serif;
        margin: 0;
        background-color: $secondaryColor;
        // min-height: 100%;
        // height: 100%;
        overflow: auto;

        .pop-up-after-restaurant {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // margin-top: -100px;
        
            .pop-up-after-restaurant-title {
                margin: 0;
                padding: 0 $padding;
                font-size: 20px;
                font-weight: 100;
                min-width: 300px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom-style: solid;
                border-bottom-width: 2px;
                border-bottom-color: silver;
                background-color: $primaryColor;
                color: white;
        
                .pop-up-after-restaurant-title-close {
                    color: white;
                }
            }
        
            .pop-up-after-restaurant-content {
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 100;
            }
        
            .pop-up-after-restaurant-actions {
                display: flex;
                flex-direction: column;
                margin: 0;
        
                .pop-up-after-restaurant-actions-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
        
                    .pop-up-after-restaurant-actions-box-typography {
                        font-size: 20px;
                        font-weight: 100;
                        margin: auto;
                    }
        
                    .pop-up-after-restaurant-actions-box-rating-and-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 100;
        
                        .pop-up-after-restaurant-actions-box-rating {
                            margin: auto;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            height: 50px;
            
                            .pop-up-after-restaurant-actions-box-rating-star {
                                height: 50px;
                            }
                        }
                    }
                }
        
                .pop-up-after-restaurant-actions-message {
                    margin: 0;
                    width: 100%;
                }
        
                .pop-up-after-restaurant-actions-button {
                    width: $buttonWidth;
                    min-width: $buttonMinWidth;
                    height: $buttonHeight;
                    margin: $margin auto;
                    font-weight: $buttonFontWeight;
                    font-size: $buttonFontSize;
                    box-shadow: $buttonShadow;
                    background-color: $primaryColor;
                    color: white;
        
                    &:hover {
                        background-color: $primarySelectedColor;
                    }
                }
            }
        }

        .dish-item-list-view-row-cell-width-fifty {
            min-width: 50px;
        }

        .dish-item-list-view-row-cell-width-hundred {
            min-width: 100px;
        }

        .dish-item-list-view-row-cell-width-hundredfifty {
            min-width: 150px;
        }

        .dish-item-list-view-row-cell-width-twohundred {
            min-width: 200px;
        }

        .dish-item-list-view-row-cell-width-fivehundred {
            min-width: 500px;
        }

        .dish-item-list-view-row-image {
            width: 108px;
            background-color: $secondaryColor;
            height: 72px;
            border-radius: 20px;
            overflow-x: scroll;
        }

        .dish-item-list-view-row-buttons {
            min-width: 100px;
            display: 'flex';
            flex-direction: 'column';
            width: 100px;
            
            .dish-item-list-view-row-button {
                min-width: 100px;
                font-size: 12px;
                margin: 5px auto;
                height: '50px';
            }
        }

        .check-box {
            color: $primaryColor;
        }

        .card-white {
            background-color: white;

            .media {
                background-color: $secondaryColor;
                height: 200px;
            }
        }
        .card-gray {
            background-color: $secondaryColor;

            .media {
                background-color: white;
                height: 200px;
            }
        }
        .card {
            width: $cardWidth;
            margin-bottom: $cardMargin;
            margin-right: $cardMargin/2;
            margin-left: $cardMargin/2;
            display: flex;
            flex-flow: column;
            box-shadow: $cardShadow;
            user-select: none;
            cursor: pointer;

            @media (max-width: $phoneMaxWidth) {
                margin: auto;
                margin-bottom: $cardMargin;
            }

            .subtopics {
                margin-left: $commentMarginLeft;
                text-transform: capitalize;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                user-select: none;
            }

            .actions {
                margin: 0;
                margin-top: auto;
                user-select: none;
                .action-items {
                    margin: 5px;
                }
                .buttons {
					min-width: 150px;
					margin: 10px;
					font-size: $buttonFontSize - 3px;
                }
                .check-box {
                    color: $primaryColor;
                }
            }

            .actions-horizontal {
                display: flex;
                flex-flow: row;
            }

            .actions-vertical {
                display: flex;
                flex-flow: column;
                justify-content: space-between;
            }
        }

        form {
            padding: $padding;
            background-color: white;
            border: $border;
            border-radius: $borderRadius;

            h2 {
                    color: $primaryColor;
                    font-size: 24px;
                    font-weight: 100;
            }

            p {
                    color: #555555;
                    padding: 0;
                    margin: 10px 0 5px 0;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 200;
                    letter-spacing: 0.15px;
            }
        }

        h1 {
            margin: 0px;
            text-align: center;
            padding: $padding;
            font-size: 40px;
            font-weight: 500;
        }

        .normal-buttons {
            width: $buttonWidth;
            min-width: $buttonMinWidth;
            height: $buttonHeight;
            margin: $margin auto;
            font-weight: $buttonFontWeight;
            font-size: $buttonFontSize;
            box-shadow: $buttonShadow;
            background-color: $grayButtonColor;
            &:hover {
                background-color: $graySelectedButtonColor;
            }
        }

        .success-buttons {
            width: $buttonWidth;
            min-width: $buttonMinWidth;
            height: $buttonHeight;
            margin: $margin auto;
            font-weight: $buttonFontWeight;
            font-size: $buttonFontSize;
            box-shadow: $buttonShadow;
            color: white;
            background-color: $greenButtonColor;
            &:hover {
                background-color: $greenSelectedButtonColor;
            }
        }

        .cancel-buttons {
            width: $buttonWidth;
            min-width: $buttonMinWidth;
            height: $buttonHeight;
            margin: $margin auto;
            font-weight: $buttonFontWeight;
            font-size: $buttonFontSize;
            box-shadow: $buttonShadow;
            color: white;
            background-color: $redButtonColor;
            &:hover {
                background-color: $redSelectedButtonColor;
            }
        }

        .delete-buttons {
            width: 50%;
            min-width: $buttonMinWidth;
            height: 50px;
            margin: 40px auto;
            font-weight: $buttonFontWeight;
            font-size: $buttonFontSize;
            box-shadow: $buttonShadow;
            color: white;
            background-color: $primaryColor;
            &:hover {
                background-color: $primarySelectedColor;
            }
        }

        .text-on-background {
            color: #555555;
            padding: 0;
            margin: $margin auto;
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            letter-spacing: 0.15px;
            text-align: center;
        }

        .not-found {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 500px;
            display: block;
            margin: 50px auto;
    
            @media (max-width: $phoneMaxWidth) {
                width: 90%;
            }
    
            .not-found-text {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                font-weight: 100;
                font-size: 30px;
                white-space: pre-wrap;
    
                @media (max-width: $phoneMaxWidth) {
                    font-size: 20px;
                }
            }
    
            .not-found-image {
                width: 70%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: auto;
            }
        }

        .order-change-toggle {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: $margin;
    
            .toggle-label {
                color: #555555;
                padding: 0;
                font-family: 'Roboto', sans-serif;
                font-weight: 200;
                letter-spacing: 0.15px;
                text-align: center;
            }
        }

        .customer {
            .header {
                padding: 10px 0;
                background-color: $secondaryColor;
                box-shadow: $cardShadow;
                text-align: center;
                position: fixed;
                left: 0;
                right: 0;
                top: $topBarHeight;
                z-index: 20;

                .header-content {
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .header-title {
                        margin: 0 60px;
                        font-size: 30px;
                        font-weight: 100;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 75%;
                    }
                    .header-subtitle {
                        margin: 0 auto;
                        padding-left: 60px;
                        padding-right: 60px;
                        font-size: 25px;
                        font-weight: 100;
                        color: $primaryColor;
                    }
                }
                .header-left-icon {
                    position: absolute;
                    left: $margin/2;
                    top: 10px;
                    width: 40px;
                    height: 40px;
                    color: $primaryColor;
                    font-weight: 100;

                    :hover {
                        cursor: pointer;
                    }
                }
                .header-right-icon {
                    position: absolute;
                    right: $margin/2;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 40px;
                    height: 40px;
                    color: $primaryColor;
                    font-weight: 100;

                    :hover {
                        cursor: pointer;
                    }
                }
                .header-toggle-group {
                    width: 80%;
                    max-width: 500px;
                    height: 40px;
                    
                    .header-toggle {
                        padding: 0;
                        width: 50%;
                    }
                }
            }

            .footer {
                background-color: $secondaryColor;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: $bottomTabBarShadow;
                z-index: 20;

                .footer-button {
                    width: 80%;
                    height: 50px;
                    margin: $margin;
                    background-color: $primaryColor;
                    color: white;
                    font-weight: 300;
                    font-size: $buttonFontSize;

                    :hover {
                        cursor: pointer;
                    }
                }

                .footer-content {
                    width: 80%;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                .footer-title {
                    padding: 0;
                    padding-top: 10px;
                    margin: 0;
                    font-size: 30px;
                    font-weight: 100;
                }

                .footer-left-icon {
                    padding-top: 10px;
                    margin: 0;
                    width: 50px;
                    height: 50px;
                    color: $primaryColor;

                    :hover {
                        cursor: pointer;
                    }
                }

                .footer-right-icon {
                    padding-top: 10px;
                    margin: 0;
                    width: 50px;
                    height: 50px;
                    color: $primaryColor;

                    :hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
            monospace;
    }
}