@import '../../globalCSS/globalCSS';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: $secondaryColor;
  overflow: hidden;

  form {
    padding: $padding;
    background-color: white;
    border: $border;
    border-radius: $borderRadius;

    h2 {
        color: $primaryColor;
        font-size: 24px;
        font-weight: 100;
    }

    p {
        color: #555555;
        padding: 0;
        margin: 10px 0 5px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        letter-spacing: 0.15px;
    }
  }

  h1 {
    margin: 0px;
    padding: $padding;
    font-size: 40px;
    font-weight: 500;
  }

  .normal-buttons {
    width: $buttonWidth;
    min-width: $buttonMinWidth;
    height: $buttonHeight;
    margin: $margin auto;
    font-weight: $buttonFontWeight;
    font-size: $buttonFontSize;
    box-shadow: $buttonShadow;
    background-color: $grayButtonColor;
    &:hover {
      background-color: $graySelectedButtonColor;
    }
  }

  .success-buttons {
    width: $buttonWidth;
    min-width: $buttonMinWidth;
    height: $buttonHeight;
    margin: $margin auto;
    font-weight: $buttonFontWeight;
    font-size: $buttonFontSize;
    box-shadow: $buttonShadow;
    color: white;
    background-color: $greenButtonColor;
    &:hover {
      background-color: $greenSelectedButtonColor;
    }
  }

  .cancel-buttons {
    width: $buttonWidth;
    min-width: $buttonMinWidth;
    height: $buttonHeight;
    margin: $margin auto;
    font-weight: $buttonFontWeight;
    font-size: $buttonFontSize;
    box-shadow: $buttonShadow;
    color: white;
    background-color: $redButtonColor;
    &:hover {
      background-color: $redSelectedButtonColor;
    }
  }

  .delete-buttons {
    width: 50%;
    min-width: $buttonMinWidth;
    height: 50px;
    margin: 40px auto;
    font-weight: $buttonFontWeight;
    font-size: $buttonFontSize;
    box-shadow: $buttonShadow;
    color: white;
    background-color: $primaryColor;
    &:hover {
      background-color: $primarySelectedColor;
    }
  }

  .text-on-background {
    color: #555555;
    padding: 0;
    margin: $margin auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing: 0.15px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
