@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
:export {
  primaryColor: #800000;
  secondaryColor: #F0F0F0;
  margin: 20px;
  padding: 20px;
  tableWhiteColor: white;
  tableGreenColor: rgba(0, 255, 0, 0.5);
  tableOrangeColor: rgba(255, 255, 0, 0.5);
  tableRedColor: rgba(255, 0, 0, 0.5);
}

html {
  min-height: 100%;
  height: 100%;
}

html body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #F0F0F0;
  min-height: 100%;
  height: 100%;
  overflow: auto;
}

html body .card-white {
  background-color: white;
}

html body .card-gray {
  background-color: #F0F0F0;
}

html body .card {
  width: 300px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
          box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
  cursor: pointer;
}

html body .card .subtopics {
  margin-left: 20px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html body .card .media {
  background-color: #F0F0F0;
  height: 200px;
}

html body .card .actions {
  margin: 0;
  margin-top: auto;
}

html body .card .actions .action-items {
  margin: 5px;
}

html body .card .actions .buttons {
  min-width: 150px;
  margin: 10px;
  font-size: 15px;
}

html body .card .actions .check-box {
  color: #800000;
}

html body .card .actions-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

html body .card .actions-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body form {
  padding: 20px;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
}

html body form h2 {
  color: #800000;
  font-size: 24px;
  font-weight: 100;
}

html body form p {
  color: #555555;
  padding: 0;
  margin: 10px 0 5px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: 0.15px;
}

html body h1 {
  margin: 0px;
  padding: 20px;
  font-size: 40px;
  font-weight: 500;
}

html body .normal-buttons {
  width: 20%;
  min-width: 250px;
  height: 40px;
  margin: 20px auto;
  font-weight: 100;
  font-size: 18px;
  -webkit-box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
          box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
  background-color: #DDDDDD;
}

html body .normal-buttons:hover {
  background-color: #CCCCCC;
}

html body .success-buttons {
  width: 20%;
  min-width: 250px;
  height: 40px;
  margin: 20px auto;
  font-weight: 100;
  font-size: 18px;
  -webkit-box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
          box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
  color: white;
  background-color: #02942e;
}

html body .success-buttons:hover {
  background-color: #00631e;
}

html body .cancel-buttons {
  width: 20%;
  min-width: 250px;
  height: 40px;
  margin: 20px auto;
  font-weight: 100;
  font-size: 18px;
  -webkit-box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
          box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
  color: white;
  background-color: #f4511e;
}

html body .cancel-buttons:hover {
  background-color: #a03616;
}

html body .delete-buttons {
  width: 50%;
  min-width: 250px;
  height: 50px;
  margin: 40px auto;
  font-weight: 100;
  font-size: 18px;
  -webkit-box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
          box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
  color: white;
  background-color: #800000;
}

html body .delete-buttons:hover {
  background-color: #600000;
}

html body .text-on-background {
  color: #555555;
  padding: 0;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: 0.15px;
}

html body .not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 700px) {
  html body .not-found {
    width: 70%;
  }
}

html body .not-found .not-found-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
  font-size: 90px;
}

@media (max-width: 700px) {
  html body .not-found .not-found-text {
    font-size: 30px;
  }
}

html body .not-found .not-found-image {
  width: 100%;
}

html code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*# sourceMappingURL=index.css.map */