$primaryColor: #800000;
$secondaryColor: #F0F0F0;

$primarySelectedColor: #600000;
$secondarySelectedColor: #CCCCCC;
$borderColor: #DDDDDD;

$redColor: #FF0000;
$blueLineColor: #40A4C8;
$greenButtonColor: #02942e;
$redButtonColor: #f4511e;
$grayButtonColor: #DDDDDD;
$pinkButtonColor: rgb(255, 20, 102);
$greenSelectedButtonColor: #00631e;
$redSelectedButtonColor: #a03616;
$graySelectedButtonColor: #CCCCCC;
$pinkSelectedButtonColor: rgb(199, 21, 98);

$cardWidth: 300px;
$cardMargin: 20px;
$commentMarginLeft: 20px;
$cardShadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
$border: 1px solid $borderColor;
$borderRadius: 10px;

$buttonWidth: 20%;
$buttonMinWidth: 250px;
$buttonHeight: 40px;
$buttonFontWeight: 100;
$buttonFontSize: 18px;
$buttonShadow: 0px 2px 2px rgba(68, 68, 68, 0.4);

$margin: 20px;
$padding: 20px;

$topBarHeight: 56px;
$optionFontSize: 18px;
$sideBarWidth: 200px;

$topNavigationItemWidth: 120px;

$padMaxWidth: 1200px;
$phoneMaxWidth: 700px;

$tableWhiteColor: rgb(255, 255, 255);
$tableGreenColor: rgba(0, 255, 0, 0.5);
$tableOrangeColor: rgba(255, 255, 0, 0.5);
$tableRedColor: rgba(255, 0, 0, 0.5);

:export {
    primaryColor: $primaryColor;
    secondaryColor: $secondaryColor;
    margin: $margin;
    padding: $padding;
    tableWhiteColor: $tableWhiteColor;
    tableGreenColor: $tableGreenColor;
    tableOrangeColor: $tableOrangeColor;
    tableRedColor: $tableRedColor;
}