:export {
  primaryColor: #222222;
  secondaryColor: #F0F0F0;
  margin: 20px;
  padding: 20px;
  tableWhiteColor: white;
  tableGreenColor: rgba(0, 255, 0, 0.5);
  tableOrangeColor: rgba(255, 255, 0, 0.5);
  tableRedColor: rgba(255, 0, 0, 0.5);
}

.homepage {
  margin-top: -10px;
}

.homepage .pop-up .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 20px;
  z-index: 1;
}

@media (max-width: 700px) {
  .homepage .pop-up .content {
    width: 300px;
  }
}

.homepage .pop-up .content .heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage .pop-up .hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.homepage .pop-up .show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.homepage .pop-up .video {
  width: 560px;
  height: 315px;
}

@media (max-width: 700px) {
  .homepage .pop-up .video {
    width: 280px;
    height: 157px;
  }
}

.homepage .firstSection {
  width: 100%;
  height: 1200px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../../assets/images/homepage/title_background.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../assets/images/homepage/title_background.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  .homepage .firstSection {
    height: 1300px;
  }
}

@media (max-width: 700px) {
  .homepage .firstSection {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../../assets/images/homepage/title_background_mobile.jpg");
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../assets/images/homepage/title_background_mobile.jpg");
    height: 800px;
    background-size: 100% 100%;
  }
}

.homepage .firstSection .name-icon {
  display: block;
  height: 200px;
  width: auto;
  margin: 0 auto;
  padding: 50px;
}

@media (max-width: 1200px) {
  .homepage .firstSection .name-icon {
    height: 200px;
  }
}

@media (max-width: 700px) {
  .homepage .firstSection .name-icon {
    height: 100px;
  }
}

.homepage .firstSection .text {
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 700px) {
  .homepage .firstSection .text {
    width: 100%;
    text-align: center;
  }
}

.homepage .firstSection .text h1 {
  display: block;
  margin: 0 auto;
  font-weight: 800;
  font-size: 50px;
  width: 80%;
  max-width: 1000px;
  color: white;
}

@media (max-width: 700px) {
  .homepage .firstSection .text h1 {
    font-size: 20px;
  }
}

.homepage .firstSection .text .buttons {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1200px) {
  .homepage .firstSection .text .buttons {
    margin-bottom: 90px;
  }
}

@media (max-width: 700px) {
  .homepage .firstSection .text .buttons {
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.homepage .firstSection .text .buttons .button {
  width: 40%;
  max-width: 500px;
  height: 70px;
  font-weight: 500;
  font-size: 18px;
  -webkit-box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
          box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
  background-color: white;
  color: #222222;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 20px;
}

@media (max-width: 700px) {
  .homepage .firstSection .text .buttons .button {
    width: 80%;
    font-size: 13px;
    height: 40px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.homepage .firstSection .text .buttons .button:hover {
  background-color: transparent;
  color: white;
}

@media (max-width: 700px) {
  .homepage .firstSection .text .buttons .button:hover {
    background-color: white;
    color: #222222;
  }
}

.homepage .firstSection .text .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.homepage .firstSection .text .apps .appDownload {
  margin: 0 auto;
  margin-bottom: 30px;
}

.homepage .firstSection .text .apps .appDownload .download {
  width: 250px;
  height: 80px;
}

@media (max-width: 1200px) {
  .homepage .firstSection .text .apps .appDownload .download {
    width: 230px;
    height: 70px;
  }
}

@media (max-width: 700px) {
  .homepage .firstSection .text .apps .appDownload .download {
    width: 200px;
    height: 60px;
  }
}

.homepage .horizontallycenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.homepage .verticallyCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .whiteBackground {
  background-color: white;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 700px) {
  .homepage .whiteBackground {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.homepage .primaryColorBackground {
  background-color: #222222;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 700px) {
  .homepage .primaryColorBackground {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.homepage .sections {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: hidden;
  position: -webkit-sticky;
  position: sticky;
}

@media (max-width: 700px) {
  .homepage .sections {
    height: 600px;
  }
}

.homepage .sections img {
  width: 40%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 700px) {
  .homepage .sections img {
    width: 80%;
  }
}

.homepage .sections .text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 700px) {
  .homepage .sections .text {
    width: 100%;
    text-align: center;
  }
}

.homepage .sections .text p {
  font-weight: 200;
  font-size: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 700px) {
  .homepage .sections .text p {
    font-size: 20px;
  }
}

.lastHomepageSection {
  position: relative;
  height: 300px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: #F0F0F0;
  clear: both;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.lastHomepageSection .horizontallycenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lastHomepageSection .verticallyCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lastHomepageSection .lastSectionContent {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .lastHomepageSection .lastSectionContent {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.lastHomepageSection .lastSectionContent .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 700px) {
  .lastHomepageSection .lastSectionContent .apps {
    margin-top: 20px;
  }
}

.lastHomepageSection .lastSectionContent .apps .appDownload {
  margin: 0 auto;
  margin-bottom: 10px;
}

.lastHomepageSection .lastSectionContent .apps .appDownload .download {
  width: 250px;
  height: 80px;
}

@media (max-width: 1200px) {
  .lastHomepageSection .lastSectionContent .apps .appDownload .download {
    width: 150px;
    height: 45px;
  }
}

@media (max-width: 700px) {
  .lastHomepageSection .lastSectionContent .apps .appDownload .download {
    width: 150px;
    height: 45px;
  }
}

.lastHomepageSection .lastSectionContent .other-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content .topic {
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border-style: none;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 7px;
  margin-left: -2px;
  outline: none;
  word-wrap: break-word;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content .subtopic {
  padding-bottom: 7px;
  color: gray;
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  outline: none;
  word-wrap: break-word;
  text-align: left;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content .topic:hover {
  cursor: pointer;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content .subtopic:hover {
  cursor: pointer;
}
/*# sourceMappingURL=HomePage.css.map */