:export {
  primaryColor: #D94859;
  secondaryColor: #F0F0F0;
  margin: 20px;
  padding: 20px;
  tableWhiteColor: white;
  tableGreenColor: rgba(0, 255, 0, 0.5);
  tableOrangeColor: rgba(255, 255, 0, 0.5);
  tableRedColor: rgba(255, 0, 0, 0.5);
}

.pop-up-after-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
}

.pop-up-after-restaurant .pop-up-after-restaurant-title {
  margin: 0;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 100;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: silver;
  background-color: #D94859;
  color: white;
}

.pop-up-after-restaurant .pop-up-after-restaurant-title .pop-up-after-restaurant-title-close {
  color: white;
}

.pop-up-after-restaurant .pop-up-after-restaurant-content {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 100;
}

.pop-up-after-restaurant .pop-up-after-restaurant-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.pop-up-after-restaurant .pop-up-after-restaurant-actions .pop-up-after-restaurant-actions-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.pop-up-after-restaurant .pop-up-after-restaurant-actions .pop-up-after-restaurant-actions-box .pop-up-after-restaurant-actions-box-typography {
  font-size: 20px;
  font-weight: 100;
  margin: auto;
}

.pop-up-after-restaurant .pop-up-after-restaurant-actions .pop-up-after-restaurant-actions-box .pop-up-after-restaurant-actions-box-rating-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 100;
}

.pop-up-after-restaurant .pop-up-after-restaurant-actions .pop-up-after-restaurant-actions-box .pop-up-after-restaurant-actions-box-rating-and-text .pop-up-after-restaurant-actions-box-rating {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.pop-up-after-restaurant .pop-up-after-restaurant-actions .pop-up-after-restaurant-actions-box .pop-up-after-restaurant-actions-box-rating-and-text .pop-up-after-restaurant-actions-box-rating .pop-up-after-restaurant-actions-box-rating-star {
  height: 50px;
}

.pop-up-after-restaurant .pop-up-after-restaurant-actions .pop-up-after-restaurant-actions-message {
  margin: 0;
  width: 100%;
}

.pop-up-after-restaurant .pop-up-after-restaurant-actions .pop-up-after-restaurant-actions-button {
  width: 20%;
  min-width: 250px;
  height: 40px;
  margin: 20px auto;
  font-weight: 100;
  font-size: 18px;
  -webkit-box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
          box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
  background-color: #D94859;
  color: white;
}

.pop-up-after-restaurant .pop-up-after-restaurant-actions .pop-up-after-restaurant-actions-button:hover {
  background-color: #CCCCCC;
}

.homepage {
  margin-top: -10px;
  background-color: #E0E0E0;
}

.homepage .pop-up .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 20px;
  z-index: 1;
}

@media (max-width: 700px) {
  .homepage .pop-up .content {
    width: 300px;
  }
}

.homepage .pop-up .content .heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage .pop-up .hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.homepage .pop-up .show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.homepage .pop-up .video {
  width: 560px;
  height: 315px;
}

@media (max-width: 700px) {
  .homepage .pop-up .video {
    width: 280px;
    height: 157px;
  }
}

.homepage .firstsection {
  width: 100%;
  height: 600px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5))), url("../../../assets/images/homepage/phone_1_1.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../../../assets/images/homepage/phone_1_1.png");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -150px;
}

@media (max-width: 1200px) {
  .homepage .firstsection {
    height: 600px;
    background-attachment: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }
}

@media (max-width: 700px) {
  .homepage .firstsection {
    height: 800px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../../assets/images/homepage/phone_1_3.png");
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../assets/images/homepage/phone_1_3.png");
    background-attachment: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
  }
}

.homepage .firstsection .firstsection-content {
  width: 50%;
  max-width: 1000px;
  height: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20px;
}

@media (max-width: 700px) {
  .homepage .firstsection .firstsection-content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
}

.homepage .firstsection .firstsection-content .firstsection-topic {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  color: white;
}

.homepage .firstsection .firstsection-content .firstsection-topic h1 {
  font-weight: 800;
  font-size: 50px;
  padding: 0;
  text-align: left;
}

@media (max-width: 700px) {
  .homepage .firstsection .firstsection-content .firstsection-topic h1 {
    text-align: center;
  }
}

.homepage .firstsection .firstsection-content .firstsection-topic h2 {
  font-weight: 500;
  font-size: 30px;
  padding: 0;
}

.homepage .firstsection .firstsection-content .firstsection-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 700px) {
  .homepage .firstsection .firstsection-content .firstsection-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.homepage .firstsection .firstsection-content .firstsection-buttons .button {
  margin-right: 20px;
  width: 40%;
  max-width: 500px;
  height: 70px;
  font-weight: 500;
  font-size: 18px;
  -webkit-box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
          box-shadow: 0px 2px 2px rgba(68, 68, 68, 0.4);
  background-color: #D94859;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 20px;
}

@media (max-width: 700px) {
  .homepage .firstsection .firstsection-content .firstsection-buttons .button {
    width: 80%;
    margin: 20px auto;
  }
}

.homepage .firstsection .firstsection-content .firstsection-buttons .button:hover {
  background-color: transparent;
  color: white;
}

.homepage .horizontallycenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.homepage .verticallyCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .left {
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
}

@media (max-width: 700px) {
  .homepage .left {
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
  }
}

.homepage .right {
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
}

@media (max-width: 700px) {
  .homepage .right {
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }
}

.homepage .whiteBackground {
  background-color: white;
  color: #D94859;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 700px) {
  .homepage .whiteBackground {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.homepage .primaryColorBackground {
  background-color: #D94859;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 700px) {
  .homepage .primaryColorBackground {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.homepage .sections {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: hidden;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

@media (max-width: 700px) {
  .homepage .sections {
    height: 600px;
  }
}

.homepage .sections img {
  width: 40%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 700px) {
  .homepage .sections img {
    width: 70%;
  }
}

.homepage .sections .text {
  width: 40%;
}

@media (max-width: 700px) {
  .homepage .sections .text {
    width: 100%;
    text-align: center;
  }
}

.homepage .sections .text .sections-topic {
  font-weight: 800;
  font-size: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 700px) {
  .homepage .sections .text .sections-topic {
    font-size: 25px;
    width: 90%;
  }
}

.homepage .sections .text .sections-subtopic {
  font-weight: 500;
  font-size: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 700px) {
  .homepage .sections .text .sections-subtopic {
    font-size: 20px;
    width: 90%;
  }
}

.lastHomepageSection {
  position: relative;
  height: 300px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: #F0F0F0;
  clear: both;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lastHomepageSection .horizontallycenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lastHomepageSection .verticallyCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lastHomepageSection .lastSectionContent {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

@media (max-width: 700px) {
  .lastHomepageSection .lastSectionContent {
    margin-top: 0px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.lastHomepageSection .lastSectionContent .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 700px) {
  .lastHomepageSection .lastSectionContent .apps {
    margin-top: 20px;
  }
}

.lastHomepageSection .lastSectionContent .apps .appDownload {
  margin: 0 auto;
  margin-bottom: 10px;
}

.lastHomepageSection .lastSectionContent .apps .appDownload .download {
  width: 250px;
  height: 80px;
}

@media (max-width: 1200px) {
  .lastHomepageSection .lastSectionContent .apps .appDownload .download {
    width: 150px;
    height: 45px;
  }
}

@media (max-width: 700px) {
  .lastHomepageSection .lastSectionContent .apps .appDownload .download {
    width: 150px;
    height: 45px;
  }
}

.lastHomepageSection .lastSectionContent .other-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content .lastsection-topic {
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border-style: none;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 7px;
  margin-left: -2px;
  outline: none;
  word-wrap: none;
  text-align: left;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content .lastsection-subtopic {
  margin-bottom: 7px;
  color: gray;
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  outline: none;
  word-wrap: break-word;
  text-align: left;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content .lastsection-topic:hover {
  cursor: pointer;
}

.lastHomepageSection .lastSectionContent .other-content .sub-content .lastsection-subtopic:hover {
  cursor: pointer;
}

.lastHomepageSection .copyright {
  color: gray;
}
/*# sourceMappingURL=HomePage.css.map */