@import '../../../globalCSS/globalCSS';

.homepage {
    margin-top: - 10px;

    .pop-up {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            padding: $padding;
            box-shadow: 0 5px 30px rgba(0,0,0,0.30);
            background-color: white;
            border-radius: 20px;
            z-index: 1;

            @media (max-width: $phoneMaxWidth) {
                width: 300px;
            }

            .heading {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    
        .hide {
            visibility: hidden;
            opacity: 0;
            transition: 0.5s;
        }
        
        .show {
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }

        .video {
            width: 560px;
            height: 315px;

            @media (max-width: $phoneMaxWidth) {
                width: 280px;
                height: 157px;
            }
        }
    }

    .firstsection {
        width: 100%;
        height: 600px;

        background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../../../assets/images/homepage/phone_1_1.png');

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -150px;

        @media (max-width: $padMaxWidth) {
            height: 600px;
            background-attachment: unset;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
        }

        @media (max-width: $phoneMaxWidth) {
            height: 800px;
            background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/images/homepage/phone_1_3.png');
            background-attachment: unset;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 0;
        }

        .firstsection-content {
            width: 50%;
            max-width: 1000px;
            height: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            margin-left: $margin;

            @media (max-width: $phoneMaxWidth) {
                text-align: center;
                justify-content: center;
                width: 90%;
                margin: 0 auto;
            }

            .firstsection-topic {
                display: block;
                margin: 0 auto;
                width: 100%;
                max-width: 1000px;
                color: white;

                h1 {
                    font-weight: 800;
                    font-size: 50px;
                    padding: 0;
                    text-align: left;

                    @media (max-width: $phoneMaxWidth) {
                        text-align: center;
                    }
                }

                h2 {
                    font-weight: 500;
                    font-size: 30px;
                    padding: 0;
                }
            }

            .firstsection-buttons {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                @media (max-width: $phoneMaxWidth) {
                    flex-direction: column;
                    align-items: center;
                }
    
                .button {
                    margin-right: $margin;
                    width: 40%;
                    max-width: 500px;
                    height: $buttonHeight + 30;
                    font-weight: 500;
                    font-size: $buttonFontSize;
                    box-shadow: $buttonShadow;
                    background-color: $primaryColor;
                    color: white;
                    border-style: solid;
                    border-width: 2px;
                    border-color: white;
                    border-radius: 20px;

                    @media (max-width: $phoneMaxWidth) {
                        width: 80%;
                        margin: $margin auto;
                    }
                }

                .button:hover {
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }

    .horizontallycenter {
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }

    .verticallyCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left {
        border-top-right-radius: 300px;
        border-bottom-right-radius: 300px;

        @media (max-width: $phoneMaxWidth) {
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
        }
    }

    .right {
        border-top-left-radius: 300px;
        border-bottom-left-radius: 300px;

        @media (max-width: $phoneMaxWidth) {
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
        }
    }

    .whiteBackground {
        background-color: transparent;
        color: $primaryColor;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: $phoneMaxWidth) {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
    }

    .primaryColorBackground {
        background-color: $primaryColor;
        color: white;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: $phoneMaxWidth) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .sections {
        width: 100%;
        height: 800px;

        display: flex;
        justify-content: space-evenly;

        overflow-x: hidden;
        overflow-y: hidden;

        position: sticky;

        @media (max-width: $phoneMaxWidth) {
            height: 600px;
        }

        img {
            width: 40%;
            box-sizing: inherit;
            object-fit: cover;

            @media (max-width: $phoneMaxWidth) {
                width: 70%;
            }
        }

        .text {
            width: 40%;

            @media (max-width: $phoneMaxWidth) {
                width: 100%;
                text-align: center;
            }

            .sections-topic {
                font-weight: 800;
                font-size: 40px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;

                @media (max-width: $phoneMaxWidth) {
                    font-size: 25px;
                    width: 90%;
                }
            }

            .sections-subtopic {
                font-weight: 500;
                font-size: 30px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;

                @media (max-width: $phoneMaxWidth) {
                    font-size: 20px;
                    width: 90%;
                }
            }
        }
    }
}

.lastHomepageSection {
    position: relative;
    height: 300px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    background-color: $secondaryColor;
    clear: both;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .horizontallycenter {
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }

    .verticallyCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lastSectionContent {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;

        @media (max-width: $phoneMaxWidth) {
            margin-top: 0px;
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
        }

        .apps {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;

            @media (max-width: $phoneMaxWidth) {
                margin-top: $margin;
            }

            .appDownload {
                margin: 0 auto;
                margin-bottom: 10px;

                .download {
                    width: 250px;
                    height: 80px;

                    @media (max-width: $padMaxWidth) {
                        width: 150px;
                        height: 45px;
                    }
    
                    @media (max-width: $phoneMaxWidth) {
                        width: 150px;
                        height: 45px;
                    }
                }
            }
        }

        .other-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .sub-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;

                .lastsection-topic {
                    background-color: transparent;
                    box-shadow: transparent;
                    border-style: none;
                    font-size: 18px;
                    font-weight: 700;
                    padding-bottom: 7px;
                    margin-left: -2px;
                    outline: none;
                    word-wrap: none;
                    text-align: left;
                }

                .lastsection-subtopic {
                    margin-bottom: 7px;
                    color: gray;
                    background-color: transparent;
                    box-shadow: transparent;
                    border-style: none;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 100;
                    outline: none;
                    word-wrap: break-word;
                    text-align: left;
                }

                .lastsection-topic:hover {
                    cursor: pointer;
                }

                .lastsection-subtopic:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .copyright {
        color: gray;
    }
}