@import '../../../globalCSS/globalCSS';

.homepage {
    margin-top: - 10px;

    .pop-up {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            padding: $padding;
            box-shadow: 0 5px 30px rgba(0,0,0,0.30);
            background-color: white;
            border-radius: 20px;
            z-index: 1;

            @media (max-width: $phoneMaxWidth) {
                width: 300px;
            }

            .heading {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    
        .hide {
            visibility: hidden;
            opacity: 0;
            transition: 0.5s;
        }
        
        .show {
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }

        .video {
            width: 560px;
            height: 315px;

            @media (max-width: $phoneMaxWidth) {
                width: 280px;
                height: 157px;
            }
        }
    }

    .firstSection {
        width: 100%;
        height: 1200px;

        background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/images/homepage/title_background.jpg');

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: $padMaxWidth) {
            height: 1300px;
        }

        @media (max-width: $phoneMaxWidth) {
            background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/images/homepage/title_background_mobile.jpg');
            height: 800px;
            background-size: 100% 100%;
        }

        .name-icon {
            display: block;
            height: 200px;
            width: auto;
            margin: 0 auto;
            padding: 50px;

            @media (max-width: $padMaxWidth) {
                height: 200px;
            }

            @media (max-width: $phoneMaxWidth) {
                height: 100px;
            }
        }

        .text {
            width: 80%;
            display: block;
            margin: 0 auto;
            text-align: center;

            @media (max-width: $phoneMaxWidth) {
                width: 100%;
                text-align: center;
            }

            h1 {
                display: block;
                margin: 0 auto;
                font-weight: 800;
                font-size: 50px;
                width: 80%;
                max-width: 1000px;
                color: white;

                @media (max-width: $phoneMaxWidth) {
                    font-size: 20px;
                }
            }

            .buttons {
                width: 100%;
                margin-top: 100px;
                margin-bottom: 120px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                @media (max-width: $padMaxWidth) {
                    margin-bottom: 90px;
                }

                @media (max-width: $phoneMaxWidth) {
                    margin-top: 40px;
                    margin-bottom: 40px;
                    flex-direction: column;
                    align-items: center;
                }
    
                .button {
                    width: 40%;
                    max-width: 500px;
                    height: $buttonHeight + 30;
                    font-weight: 500;
                    font-size: $buttonFontSize;
                    box-shadow: $buttonShadow;
                    background-color: white;
                    color: $primaryColor;
                    border-style: solid;
                    border-width: 2px;
                    border-color: white;
                    border-radius: 20px;

                    @media (max-width: $phoneMaxWidth) {
                        width: 80%;
                        font-size: $buttonFontSize - 5px;
                        height: $buttonHeight;
                        font-weight: 100;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }

                .button:hover {
                    background-color: transparent;
                    color: white;

                    @media (max-width: $phoneMaxWidth) {
                        background-color: white;
                        color: $primaryColor;
                    }
                }
            }

            .apps {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;

                .appDownload {
                    margin: 0 auto;
                    margin-bottom: 30px;
    
                    .download {
                        width: 250px;
                        height: 80px;

                        @media (max-width: $padMaxWidth) {
                            width: 230px;
                            height: 70px;
                        }
        
                        @media (max-width: $phoneMaxWidth) {
                            width: 200px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }

    .horizontallycenter {
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }

    .verticallyCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whiteBackground {
        background-color: white;
        color: $primaryColor;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: $phoneMaxWidth) {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
    }

    .primaryColorBackground {
        background-color: $primaryColor;
        color: white;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: $phoneMaxWidth) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .sections {
        width: 100%;
        height: 800px;

        display: flex;
        justify-content: space-evenly;

        overflow-x: hidden;
        overflow-y: hidden;

        position: sticky;

        @media (max-width: $phoneMaxWidth) {
            height: 600px;
        }

        img {
            width: 40%;
            box-sizing: inherit;
            object-fit: cover;

            @media (max-width: $phoneMaxWidth) {
                width: 80%;
            }
        }

        .text {
            width: 40%;
            display: flex;
            flex-direction: column;

            @media (max-width: $phoneMaxWidth) {
                width: 100%;
                text-align: center;
            }

            p {
                font-weight: 200;
                font-size: 30px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                @media (max-width: $phoneMaxWidth) {
                    font-size: 20px;
                }
            }
        }
    }
}

.lastHomepageSection {
    position: relative;
    height: 300px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    background-color: $secondaryColor;
    clear: both;
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .horizontallycenter {
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }

    .verticallyCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lastSectionContent {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $phoneMaxWidth) {
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
        }

        .apps {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;

            @media (max-width: $phoneMaxWidth) {
                margin-top: $margin;
            }

            .appDownload {
                margin: 0 auto;
                margin-bottom: 10px;

                .download {
                    width: 250px;
                    height: 80px;

                    @media (max-width: $padMaxWidth) {
                        width: 150px;
                        height: 45px;
                    }
    
                    @media (max-width: $phoneMaxWidth) {
                        width: 150px;
                        height: 45px;
                    }
                }
            }
        }

        .other-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .sub-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 20px;

                .topic {
                    background-color: transparent;
                    box-shadow: transparent;
                    border-style: none;
                    font-size: 18px;
                    font-weight: 700;
                    padding-bottom: 7px;
                    margin-left: -2px;
                    outline: none;
                    word-wrap: break-word;
                }

                .subtopic {
                    margin-bottom: 7px;
                    color: gray;
                    background-color: transparent;
                    box-shadow: transparent;
                    border-style: none;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 100;
                    outline: none;
                    word-wrap: break-word;
                    text-align: left;
                }

                .topic:hover {
                    cursor: pointer;
                }

                .subtopic:hover {
                    cursor: pointer;
                }
            }
        }
    }
}