@import '../../../globalCSS/globalCSS';

.homepage {
    margin: -$margin;
    margin-top: -$margin - 10px;

    @media (max-width: $phoneMaxWidth) {
        .lastSection {
            height: 500px;
        }
    }

    .firstSection {
        width: 100%;
        height: 135vh;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        overflow-x: hidden;
        overflow-y: hidden;

        position: sticky;

        @media (max-width: $phoneMaxWidth) {
            flex-direction: column;
            height: 150vh;
        }

        img {
            width: 60%;
            box-sizing: inherit;
            object-fit: cover;

            @media (max-width: $phoneMaxWidth) {
                width: 100%;
            }
        }

        .text {
            width: 40%;
            display: flex;
            flex-direction: column;

            @media (max-width: $phoneMaxWidth) {
                width: 100%;
                text-align: center;
            }

            .iFrame-wrapper {
                max-width: 600px;
                height: 400px;
                margin-bottom: 50px;
                width: 80%;

                @media (max-width: $phoneMaxWidth) {
                    width: 90%;
                    height: 200px;
                    text-align: center;
                    margin-top: 50px;
                }
                iframe {
                    max-width: 600px;
                    height: 400px;
                    width: 100%;

                    @media (max-width: $phoneMaxWidth) {
                        width: 100%;
                        height: 200px;
                        text-align: center;
                    }
                }
            }

            

            h1 {
                font-weight: 800;
                font-size: 20px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                @media (max-width: $phoneMaxWidth) {
                    font-size: 20px;
                }
            }

            .buttons {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                @media (max-width: $phoneMaxWidth) {
                    flex-direction: column;
                }
    
                .button {
                    width: 40%;
                    margin-top: $margin;
                    margin-left: auto;
                    margin-right: auto;
                    height: $buttonHeight;
                    font-weight: $buttonFontWeight;
                    font-size: $buttonFontSize;
                    box-shadow: $buttonShadow;
                    color: white;
                    background-color: $primaryColor;

                    @media (max-width: $phoneMaxWidth) {
                        width: 80%;
                        font-size: $buttonFontSize - 5px;
                    }
                }
            }

            .iosDownload {
                margin-top: 3*$margin;
                width: 250px;

                .download {
                    width: 100%;
                    box-sizing: inherit;
                    object-fit: cover;
                }

                @media (max-width: $phoneMaxWidth) {
                    width: 50%;
                }
            }
        }
    }

    .horizontallycenter {
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }

    .verticallyCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whiteBackground {
        background-color: white;
        color: $primaryColor;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: $phoneMaxWidth) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .primaryColorBackground {
        background-color: $primaryColor;
        color: white;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: $phoneMaxWidth) {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
    }

    .sections {
        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: space-evenly;

        overflow-x: hidden;
        overflow-y: hidden;

        position: sticky;

        @media (max-width: $phoneMaxWidth) {
            height: 80vh;
        }

        img {
            width: 40%;
            box-sizing: inherit;
            object-fit: cover;

            @media (max-width: $phoneMaxWidth) {
                width: 100%;
            }
        }

        .text {
            width: 40%;
            display: flex;
            flex-direction: column;

            @media (max-width: $phoneMaxWidth) {
                width: 100%;
                text-align: center;
            }

            h1 {
                font-weight: 800;
                font-size: 30px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                @media (max-width: $phoneMaxWidth) {
                    font-size: 20px;
                }
            }

            p {
                font-weight: 800;
                font-size: 30px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                @media (max-width: $phoneMaxWidth) {
                    font-size: 20px;
                }
            }
        }
    }

    .lastSection {
        width: 100%;
        height: 300px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        overflow-x: hidden;
        overflow-y: hidden;

        .lastSectionContent {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media (max-width: $phoneMaxWidth) {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }

            .iosDownload {
                width: 300px;

                .download {
                    width: 90%;
                    box-sizing: inherit;
                    object-fit: cover;
                    margin: 0 auto;
                    display: block;

                    @media (max-width: $phoneMaxWidth) {
                        width: 50%;
                    }
                }
            }

            .contactTitlePrivacy {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media (max-width: $phoneMaxWidth) {
                    padding-top: 50px;
                    text-align: center;
                }

                .contactTitle {
                    font-weight: 400;
                    font-size: 50px;
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    justify-content: flex-start;
                    vertical-align: top;

                    @media (max-width: $phoneMaxWidth) {
                        font-size: 30px;
                        text-align: center;
                    }
                }

                .contactDetails {
                    a {
                        font-weight: 300;
                        font-size: 30px;
                        text-decoration: none;
                        color: $primaryColor;
                        text-align: left;
                        vertical-align: top;

                        @media (max-width: $phoneMaxWidth) {
                            font-size: 20px;
                        }
                    }
                }
                .privacyPolicy {
                    vertical-align: bottom;
                    padding-top: 50px;

                    button {
                        background-color: transparent;
                        color: $primaryColor;
                        border: none;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-weight: 300;
                        font-size: 20px;
                        cursor: pointer;
                        outline: none;
                    }

                    @media (max-width: $phoneMaxWidth) {
                        font-size: 20px;
                    }
                }
            }
        }


        @media (max-width: $phoneMaxWidth) {
            .lastSectionContent {
                width: 100%;
                flex-direction: column;
            }
        }
    }
}
