@import '../../globalCSS/globalCSS';

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    main {
        position: absolute;
        top: $topBarHeight + $margin;
        left: $margin;
        right: $margin;
        bottom: $margin;
        overflow: initial;
        z-index: 0;
    }
}