@import '../../../../globalCSS/globalCSS';

header {
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $topBarHeight;

        .logo {
            height: $topBarHeight - 5px;
        }
    }

    .topbar-customer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $topBarHeight;

        .logo {
            height: $topBarHeight - 5px;
        }
    }
}