@import '../../../../globalCSS/globalCSS';

header {
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $topBarHeight;
        background-color: white;

        .logo {
            height: $topBarHeight - 10px;
        }
    }

    .topbar-customer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $topBarHeight;
        background-color: white;

        .logo {
            height: $topBarHeight - 10px;
        }
    }
}